@model ICollection<Example.Models.Poruka>
@{
    ViewBag.Title = "Pročitaj";
}

<h2>Detalji poruke:</h2>


@foreach (var m in Model)
{
    <div class="bubble">
        @if(ViewBag.IDClana == m.StomatologPrimalacIDClanaKomore)
        {
        <div class="primalacporuka" >
            <span class="imeiprezimeprimaoca">@(m.Salje.Ime + " " + m.Salje.Prezime) </span><br/>
            @m.Tekst
        </div>
        }
        @if(ViewBag.IDClana != m.StomatologPrimalacIDClanaKomore)
        {
        <div class="posiljalacporuka"> 
            <span class="imeiprezimeposiljaoca">@(m.Salje.Ime + " " + m.Salje.Prezime) </span><br/>
            @m.Tekst
        </div>
        } 
        
    </div>
}
@Html.ActionLink("Nova poruka", "NovaPoruka2", "Poruka", new {IDClanaKomore1=Model.First().Salje.IDClanaKomore , IDClanaKomore2 = Model.First().Primalac.IDClanaKomore },null)


