@model Example.Models.NovaObjava
@{
    ViewBag.Title = "NovaObjava";
}

<h2>Nova objava</h2>

<div id="novaobjava">
    @using (Html.BeginForm())
    {       <div>
        @Html.LabelFor(m => m.Tekst)
        @Html.TextAreaFor(m => m.Tekst, new { id = "novaporukatekst" })
        @Html.ValidationMessageFor(m => m.Tekst)
    </div>

        <div>
            @Html.LabelFor(m => m.Vrsta)
            @Html.DropDownList("Vrsta", new List<SelectListItem>
            {
                 new SelectListItem {Text = "Obaveštenje", Value = "Obaveštenje", Selected = true},
                 new SelectListItem {Text = "Pomoć oko problema", Value = "Pomoć"}
            }, new { id = "obavestenjeobjava"})
            @Html.ValidationMessageFor(m => m.Vrsta)
        </div>

        <div>
            <input type="submit" value="Objavi" class="dugme2" />
        </div>
    }
</div>

@Html.ActionLink("Vrati se na listu objava", "Index", "Objava")

