@model Example.Models.DetaljiStomatologViewModel

@{
    ViewBag.Title = "Detalji o stomatologu:";
}

<h4> Stomatolog: <b> @Html.DisplayFor(model => model.Ime)  @Html.DisplayFor(model => model.Prezime)</b> </h4>

<div class="detalji">
    
    <div><span style="font-weight: bold;">JMBG: </span> @Model.JMBG</div>
    <div><span style="font-weight: bold;">Zavrseni fakultet: </span> @Model.ZavrseniFakultet</div>
    <div><span style="font-weight: bold;">Specijalizacija: </span> @Model.Specijalizacija</div>
    <div><span style="font-weight: bold;">Sertifikat: </span> @Model.Sertifikat</div>
    <div><span style="font-weight: bold;">Broj telefona: </span> @Model.BrojTelefona</div>
    <div><span style="font-weight: bold;">Mail: </span> @Model.Mail</div>
</div>

<div class="linkic">
@Html.ActionLink("Vrati se na listu stomatologa", "Pretraga")
</div>