@model Example.Models.KartonViewModel
@{
    ViewBag.Title = "Pretraga";
}


<div style="font-size:18px;margin-top:15px;">
    <div>
        @using (Ajax.BeginForm("RefreshList", "Karton", new AjaxOptions()
        {
            UpdateTargetId = "kartoni",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST"

        }))
        {

            @Html.LabelFor(m => m.Ime)
            @Html.TextBoxFor(m => m.Ime, new { @class = "pretragaKartonaIme" })
            @Html.ValidationMessageFor(m => m.Ime)

            @Html.LabelFor(m => m.Prezime, new { @class = "pretragaKartonaPrezime" })
            @Html.TextBoxFor(m => m.Prezime)
            @Html.ValidationMessageFor(m => m.Prezime)

            @Html.LabelFor(m => m.JMBG, new { @class = "pretragaKartonaJMBG" })
            @Html.TextBoxFor(m => m.JMBG)
            @Html.ValidationMessageFor(m => m.JMBG)

            @Html.LabelFor(m => m.IDStomatologa)
            @Html.DisplayFor(m => m.IDStomatologa)
            @Html.ValidationMessageFor(m => m.IDStomatologa)

            <div>
            </div>
        }
    </div>

</div>

<div id="kartoni">
    @Html.Partial("_NovaListaKartona", Model)
</div>

<p>
    @Html.ActionLink("Dodaj novog pacijenta", "DodajKarton", "Karton")
</p>

@section scripts {
    <script type="text/javascript">
        $("#Ime, #Prezime, #JMBG").keyup(function (event) {
            // $(this).parents("form").submit();

            // Moze i ovako, efekat je isti, ali je fleksibilnije, jer direktno
            // koristimo JQuery.ajax() metodu.
            $.ajax($(this).parents("form").attr("action"), {
                // submit-uju se parametri koji se pokupe iz forme
                data: { Ime: $("#Ime").val(), Prezime: $("#Prezime").val(), JMBG: $("#JMBG").val(), IDStomatologa: $("#IDStomatologa").val() },
                method: "POST",
                // izvrsava se ako zahtev uspe
                success: function (data, status, xhr) {
                    $("#kartoni").html(data);
                },
                // izvrsava se ako se dogodi neka greska
                error: function (xhr, status, err) {
                    $("#kartoni").text(err);
                },
                dataType: "html"
            });
        });
    </script>
}

