<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stomatološke Ordinacije</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (!Request.IsAuthenticated)
                {
                    @Html.ActionLink("Poèetna strana", "Index", "Home", null, new { @class = "navbar-brand" })
                }
                else if (User.Identity.Name == "Administrator")
                {
                    @Html.ActionLink("Poèetna strana", "Admin", "Home", null, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Poèetna strana", "IndexForUsers", "Home", null, new { @class = "navbar-brand" })

                }

            </div>
            <div class="navbar-collapse collapse">
                @if (!Request.IsAuthenticated)
                {

                }
                else if (User.Identity.Name == "Administrator")
                {

                }
                else
                {
                        @Html.ActionLink("Kartoni", "Index", "Karton", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })
                        @Html.ActionLink("Zakazane posete", "Index", "ZakazanaPoseta", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })
                        @Html.ActionLink("Obavljene posete", "Index", "ObavljenaPoseta", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })
                        @Html.ActionLink("Ureðivanje profila", "Index", "Profil", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>