@model Example.Models.DetaljiZakazanaPosetaViewModel

@{
    ViewBag.Title = "Detalji zakazane posete";
}

<h2>Detalji o zakazanoj poseti </h2>

<div class="detalji">
    <div><span style="font-weight: bold;">Ime: </span> @Model.ImePacijenta</div>
    <div><span style="font-weight: bold;">Prezime: </span> @Model.PrezimePacijenta</div>
    <div><span style="font-weight: bold;">Datum: </span> @Model.Datum</div>
    <div><span style="font-weight: bold;">Vreme: </span> @Model.Vreme</div>
    <div><span style="font-weight: bold;">Napomena: </span> @Model.Napomena</div>
</div>
<div class="linkic">
    @Html.ActionLink("Vrati se na listu zakazanih poseta","Pretraga","ZakazanaPoseta")
</div>