@model Example.Models.IzmeniZakazanuPosetuViewModel

@{
    ViewBag.Title = "Izmeni zakazanu posetu";
}

<h2>Izmeni zakazanu posetu</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.IDZakazanePosete)
        <div>
            @Html.LabelFor(model => model.Napomena)
            @Html.TextAreaFor(model => model.Napomena)
            @Html.ValidationMessageFor(model => model.Napomena)
        </div>
        <div>
            @Html.LabelFor(model => model.Dan)
            @Html.DropDownListFor(model => model.Dan, new SelectList(Enumerable.Range(1, 31).ToList()))
            @Html.ValidationMessageFor(model => model.Dan)
            @Html.DropDownListFor(model => model.Mesec, new SelectList(Enumerable.Range(1, 12).ToList()))
            @Html.ValidationMessageFor(model => model.Mesec)
            @Html.DropDownListFor(model => model.Godina, new SelectList(Enumerable.Range(1990, 50).ToList()))
            @Html.ValidationMessageFor(model => model.Godina)
            &nbsp;&nbsp;
            @Html.DropDownListFor(model => model.Sat, new SelectList(Enumerable.Range(0, 24).ToList()))
            @Html.ValidationMessageFor(model => model.Sat)
            @Html.DropDownListFor(model => model.Minut, new SelectList(Enumerable.Range(0, 60).ToList()))
            @Html.ValidationMessageFor(model => model.Minut)
        </div>
        <input type="submit" value="Potvrdi izmene" />
    }
    @Html.ActionLink("Vrati se na listu zakazanih poseta", "Index")
</div>
