@model Example.Models.DetaljiOrdinacijeJavnoViewModel

<div>
    <h4> Naziv ordinacije: <b> @Html.DisplayFor(model => model.Naziv) </b> </h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KontaktTelefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KontaktTelefon)
        </dd>

        <dt>
            Zaposleni stomatolozi:
        </dt>

        <dd>
            <ul>
                @foreach (var m in Model.Zaposleni)
                {
                    <li><b>@(m.Ime + " " + m.Prezime)</b> @Html.ActionLink("(Prikaži profil)", "ProfilStomatologaJavno", new { IDClanaKomore = m.IDClanaKomore })</li>
                }
            </ul>
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Nazad na listu ordinacija", "Index")
</p>
