
@{
    ViewBag.Title = "IndexForUsers";
}


<h2>Dobrodošli na sajt stomatoloških ordinacija (Stomatolog: @ViewBag.Ime )</h2>
<h3>Izaberite neku od ponuđenih akcija:</h3>
<ul id="menu1">
    <li>@Html.ActionLink("Upravljanje kartonima", "Index", "Karton", routeValues: null, htmlAttributes: new { id = "upravljanjeKartonima" })</li>
    <li>@Html.ActionLink("Upravljanje zakazanim posetama", "Index", "ZakazanaPoseta", routeValues: null, htmlAttributes: new { id = "upravljanjeZakazanimPosetama" })</li>
    <li>@Html.ActionLink("Upravljanje obavljenim posetama", "Index", "ObavljenaPoseta", routeValues: null, htmlAttributes: new { id = "upravljanjeObavljenimPosetama" })</li>
    <li>@Html.ActionLink("Uredjivanje profila", "Index", "Profil", routeValues: null, htmlAttributes: new { id = "uredjivanjeProfila" })</li>
</ul>


