
@{
    ViewBag.Title = "IndexForUsers";
}


<h2>Dobrodošli na sajt stomatoloških ordinacija </h2>
<h3>Stomatolog: <b>@ViewBag.Ime</b></h3>
<h4>Izaberite neku od ponuđenih akcija:</h4>
<ul id="menu1">
    <li>@Html.ActionLink("Upravljanje kartonima", "Index", "Karton", routeValues: null, htmlAttributes: new { id = "upravljanjeKartonima" })</li>
    <li>@Html.ActionLink("Upravljanje zakazanim posetama", "Index", "ZakazanaPoseta", routeValues: null, htmlAttributes: new { id = "upravljanjeZakazanimPosetama" })</li>
    <li>@Html.ActionLink("Upravljanje obavljenim posetama", "Index", "ObavljenaPoseta", routeValues: null, htmlAttributes: new { id = "upravljanjeObavljenimPosetama" })</li>
    <li>@Html.ActionLink("Uređivanje profila", "Index", "Profil", routeValues: null, htmlAttributes: new { id = "uredjivanjeProfila" })</li>
    <li>@Html.ActionLink("Privatne poruke", "Index", "Poruka")</li>

</ul>


