@model Example.Models.OrdinacijaViewModel

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIB)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.MaticniBrojFirme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JMBGVlasnika)
        </th>

    </tr>

    @foreach (var m in Model.ListaOrdinacija)
    {
        <tr>
            <td>@m.Naziv</td>
            <td>@m.PIB</td>
            <td>@m.MaticniBrojFirme</td>
            <td>@m.JMBG</td>

            <td>
                @Html.ActionLink("Izmeni podatke o ordinaciji", "IzmeniOrdinaciju", new { MaticniBrojFirme = m.MaticniBrojFirme }) |
                @Html.ActionLink("Detalji o ordinaciji", "DetaljiOrdinacije", new { MaticniBrojFirme = m.MaticniBrojFirme }) |
                @Html.ActionLink("Obriši ordinaciju", "ObrisiOrdinaciju", new { MaticniBrojFirme = m.MaticniBrojFirme })
            </td>
        </tr>
    }

</table>
