@model Example.Models.DetaljiOrdinacijeViewModel

@{
    ViewBag.Title = "Detalji o ordinaciji";
}

<h4> Naziv ordinacije: <b> @Html.DisplayFor(model => model.Naziv) </b> </h4>

<div>
   
    <div><span style="font-weight: bold;">Grad: </span> @Model.Grad</div>
    <div><span style="font-weight: bold;">Adresa: </span> @Model.Adresa</div>
    <div><span style="font-weight: bold;">PIB: </span> @Model.PIB</div>
    <div><span style="font-weight: bold;">Ime vlasnika: </span> @Model.ImeVlasnika</div>
    <div><span style="font-weight: bold;">Prezime vlasnika: </span> @Model.PrezimeVlasnika</div>
    <div><span style="font-weight: bold;">JMBG: </span> @Model.JMBG</div>


</div>
@Html.ActionLink("Vrati se na listu ordinacija", "Pretraga")
